@import './common';

h2, p {
  margin: 0;
}

ul, ol{
  list-style: none;
  padding: 0;
}

.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1300px;
};

header{
  // position: fixed;
  // width: 100%;
  
  background-color: red;
}

.header-container{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
};

.imgage-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
};

.item-list{
  width: calc((100% - 40px)/4);
}

.list-img{
  min-width: 100%;
  max-width: 100%;
}

.img-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

.img__sub-info{
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.sub-info__value{
  font-size: 16px;
  
}